.content {
	background-color: #f8f8f8;
}

.content-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.content-aside,
.content-main {
	position: relative;
	width: 270px;
	top: -19px;
	background-color: #f8f8f8;
}

/* Content aside begin */
.content-aside .content-aside-menu li {
	font-size: 14px;
	line-height: 36px;
	text-transform: uppercase;
	background-color: #26d2fc;
	color: #000;
	padding: 4px 42px 5px;
}

.content-aside .content-aside-menu li a {
	color: #000;
	text-decoration: none;
	font-weight: 900;
}

.content-aside .content-aside-menu li:hover {
	background-color: #333333;
}

.content-aside .content-aside-menu li:hover a {
	color: #fff;
}

.content-aside .content-aside-menu li a:focus {
	color: #333333;
}

.content-aside .content-aside-menu li:nth-child(1) {
	background-color: #333333;
	padding: 20px 42px 12px;
	text-transform: uppercase;
	color: #FFF;
	font-size: 14px;
	line-height: 32px;
	font-weight: 500;
}

.content-aside-banner {
	font-size: 36px;
	line-height: 36px;
	color: #333333;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-style: italic;
	background-color: #e0e0e0;
	padding: 124px 26px 68px 0;
	margin-top: 30px;
}

.content-aside-banner p {
	max-width: 106px;
	margin-left: auto;
	text-transform: uppercase;
}


/* Content aside end */

.content-main {
	width: 870px;
}

[class$="products-slider"] {
	position: relative;
	width: 870px;
}

[class$="products-slider"] input {
	display: none;
}

[class$="products-slider-slides"] {
	width: 300%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	transition: all 1s ease;
}

[class$="products-slider-inner"] {
	overflow-x: hidden;
}

/* begin sliders controls */

[class$="products-slider-arrows"] {
	position: absolute;
	top: -48px;
	right: 55px;
}

/* new controls */
#new-products-btn-1:checked ~ [class$="products-slider-arrows"] label:nth-child(3),
#new-products-btn-2:checked ~ [class$="products-slider-arrows"] label:nth-child(1),
#new-products-btn-3:checked ~ [class$="products-slider-arrows"] label:nth-child(2) {
	position: absolute;
	display: block;
	right: 3px;
	width: 7px;
	height: 11px;
	background-image: url("../../img/spritesheet.png");
	background-position: -52px -75px;
	z-index: 10;
}

#new-products-btn-1:checked ~ [class$="products-slider-arrows"] label:nth-child(2),
#new-products-btn-2:checked ~ [class$="products-slider-arrows"] label:nth-child(3),
#new-products-btn-3:checked ~ [class$="products-slider-arrows"] label:nth-child(1) {
	position: absolute;
	display: block;
	right: -24px;
	width: 7px;
	height: 11px;
	background-image: url("../../img/spritesheet.png");
	background-position: -52px -75px;
	transform: scaleX(-1);
	z-index: 10;
}

#new-products-btn-1:checked ~ [class$="products-slider-inner"] [class$="products-slider-slides"] {
	transform: translateX(0);
}  
#new-products-btn-2:checked ~ [class$="products-slider-inner"] [class$="products-slider-slides"] {
	transform: translateX(-870px);
} 
#new-products-btn-3:checked ~ [class$="products-slider-inner"] [class$="products-slider-slides"] {
	transform: translateX(-1740px);
} 

/* top controls */
#top-products-btn-1:checked ~ [class$="products-slider-arrows"] label:nth-child(3),
#top-products-btn-2:checked ~ [class$="products-slider-arrows"] label:nth-child(1),
#top-products-btn-3:checked ~ [class$="products-slider-arrows"] label:nth-child(2) {
	position: absolute;
	display: block;
	right: 3px;
	width: 7px;
	height: 11px;
	background-image: url("../../img/spritesheet.png");
	background-position: -52px -75px;
	z-index: 10;
}

#top-products-btn-1:checked ~ [class$="products-slider-arrows"] label:nth-child(2),
#top-products-btn-2:checked ~ [class$="products-slider-arrows"] label:nth-child(3),
#top-products-btn-3:checked ~ [class$="products-slider-arrows"] label:nth-child(1) {
	position: absolute;
	display: block;
	right: -24px;
	width: 7px;
	height: 11px;
	background-image: url("../../img/spritesheet.png");
	background-position: -52px -75px;
	transform: scaleX(-1);
	z-index: 10;
}

#top-products-btn-1:checked ~ [class$="products-slider-inner"] [class$="products-slider-slides"] {
	transform: translateX(0);
}  
#top-products-btn-2:checked ~ [class$="products-slider-inner"] [class$="products-slider-slides"] {
	transform: translateX(-870px);
} 
#top-products-btn-3:checked ~ [class$="products-slider-inner"] [class$="products-slider-slides"] {
	transform: translateX(-1740px);
} 

/* sale controls */

#sale-products-btn-1:checked ~ [class$="products-slider-arrows"] label:nth-child(3),
#sale-products-btn-2:checked ~ [class$="products-slider-arrows"] label:nth-child(1),
#sale-products-btn-3:checked ~ [class$="products-slider-arrows"] label:nth-child(2) {
	position: absolute;
	display: block;
	right: 3px;
	width: 7px;
	height: 11px;
	background-image: url("../../img/spritesheet.png");
	background-position: -52px -75px;
	z-index: 10;
}

#sale-products-btn-1:checked ~ [class$="products-slider-arrows"] label:nth-child(2),
#sale-products-btn-2:checked ~ [class$="products-slider-arrows"] label:nth-child(3),
#sale-products-btn-3:checked ~ [class$="products-slider-arrows"] label:nth-child(1) {
	position: absolute;
	display: block;
	right: -24px;
	width: 7px;
	height: 11px;
	background-image: url("../../img/spritesheet.png");
	background-position: -52px -75px;
	transform: scaleX(-1);
	z-index: 10;
}

#sale-products-btn-1:checked ~ [class$="products-slider-inner"] [class$="products-slider-slides"] {
	transform: translateX(0);
}  
#sale-products-btn-2:checked ~ [class$="products-slider-inner"] [class$="products-slider-slides"] {
	transform: translateX(-870px);
} 
#sale-products-btn-3:checked ~ [class$="products-slider-inner"] [class$="products-slider-slides"] {
	transform: translateX(-1740px);
} 

/* end sliders controls */

.new-products-slides,
.top-products-slides,
.sale-products-slides {
	width: 870px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.products-slider-inner-blocks {
	width: 250px;
	padding: 10px;
	background-color: #fff;
}

.products-slider-inner-blocks .slide-images {
	width: 250px;
	height: 230px;
	background-color: #eaeaea;
}


/* New products */

.new-products-slides {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}