.content {
	background-color: #f8f8f8;
}

.content-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.content-aside,
.content-main {
	position: relative;
	width: 270px;
	top: -18px;
	background-color: #f8f8f8;
}

.content-main {
	width: 870px;
}

.new-products-slider,
.top-products-slider,
.sale-products-slider {
	position: relative;
	width: 870px;
}

[class$="products-slider-slides"] {
	width: 300%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

[class$="products-slider-inner"] {
	overflow-x: hidden;
}

.new-products-slides,
.top-products-slides,
.sale-products-slides {
	width: 870px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.products-slider-inner-blocks {
	width: 270px;
	padding: 10px;
	background-color: #fff;
}

.products-slider-inner-blocks .slide-images {
	width: 250px;
	height: 230px;
	background-color: #eaeaea;
}


/* New products */

.new-products {
	padding-top: 26px;
}


.new-products-slides

.new-products-slides {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}