.content {
	background-color: #f8f8f8;
}

.content-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.content-aside,
.content-main {
	position: relative;
	width: 270px;
	top: -18px;
	background-color: #f8f8f8;
}

/* Content aside begin */

.content-aside .content-aside-menu li {
	font-size: 14px;
	line-height: 16.8px;
	text-transform: uppercase;
	background-color: #26d2fc;
	color: #000;
	padding: 10px 42px 11px;
}

.content-aside .content-aside-menu li a {
	color: #000;
	text-decoration: none;
	font-weight: 900;
}

.content-aside .content-aside-menu li:hover {
	background-color: #333333;
}

.content-aside .content-aside-menu li:hover a {
	color: #fff;
}

.content-aside .content-aside-menu li a:focus {
	color: #333333;
}

.content-aside .content-aside-menu li:nth-child(1) {
	background-color: #333333;
	padding: 20px 42px 12px;
	text-transform: uppercase;
	color: #FFF;
	font-size: 14px;
	line-height: 32px;
	font-weight: 500;
}

.content-aside-menu-wrap {
	width: 100%;
	height: 60px;
	background-color: #26d2fc;
}

.content-aside input {
	display: none;
}

.content-aside label {
	position: relative;
	top: 20px;
	left: 23px;
	width: 30px;
	height: 16px;
	border-top: 2px solid #333333;
	border-bottom: 2px solid #333333;
	display: none;
	z-index: 20;
	margin-bottom: 20px;
}

.content-aside label::before {
	position: absolute;
	content: "";
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	height: 2px;
	background-color: #333333;
}

/* Now is open BANNER */

.content-aside-banner {
	font-size: 36px;
	line-height: 36px;
	color: #333333;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-style: italic;
	background-color: #e0e0e0;
	padding: 124px 26px 68px 0;
	margin-top: 30px;
}

.content-aside-banner p {
	max-width: 106px;
	margin-left: auto;
	text-transform: uppercase;
}

/* Tags widget */

.content-aside-tags-widget {
	background-color: #fff;
	font-size: 0;
	padding: 29px 30px 0px;
	margin-top: 30px;
}

.content-aside-tags-widget .title {
	margin-bottom: 20px;
}

.content-aside-tags-widget .all  {
	position: relative;
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	font-style: italic;
	text-transform: lowercase;
	text-decoration: none;
	color: #000;
	margin: 10px 0 25px;
}

.content-aside-tags-widget .all:hover {
	text-decoration: underline;
	color: #e24602;
}

.content-aside-tags-widget .all:active {
	color: #eee;
}

.content-aside-tags a {
	display: inline-block;
	padding: 9px 10px 7px;
	text-decoration: none;
	font-size: 12px;
	font-weight: 600;
	line-height: 14px;
	color: #333333;
	background-color: #e9e9e9;
	margin-bottom: 8px;
	margin-right: 8px;
}

.content-aside-tags a:hover {
	background-color: #faef03;
}

.content-aside-tags a:active {
	background-color: #faef03;
}

.content-aside-tags a:focus {
	background-color: #faef03;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	color: #000;
	padding: 7px 28px 5px; 
}

/* Articles Experts */

.articles {
	background-color: #fff;
	font-size: 0;
	padding: 25px 30px 0px;
	margin-top: 28px;
}

.articles .title {
	margin-bottom: 28px;
}

.articles a {
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 14px;
	text-decoration: none;
	color: #555555;
}

.articles a:hover {
	text-decoration: underline;
	color: #e24602;
}

.articles a:active {
	color: #eee;
}

.articles .all  {
	position: relative;
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	font-style: italic;
	text-transform: lowercase;
	text-decoration: none;
	color: #000;
	margin: 12px 0 25px;
}

/* Content aside end */

/* Content main start */

.content-main {
	width: 870px;
}

[class$="products-slider"] {
	position: relative;
	width: 870px;
}

[class$="products-slider"] input {
	display: none;
}

[class$="products-slider-slides"] {
	width: 300%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	transition: all 1s ease;
}

[class$="products-slider-inner"] {
	overflow-x: hidden;
}

/* begin sliders controls */

[class$="products-slider-arrows"] {
	position: absolute;
	top: -48px;
	right: 55px;
}

/* new controls */
#new-products-btn-1:checked ~ [class$="products-slider-arrows"] label:nth-child(3),
#new-products-btn-2:checked ~ [class$="products-slider-arrows"] label:nth-child(1),
#new-products-btn-3:checked ~ [class$="products-slider-arrows"] label:nth-child(2) {
	position: absolute;
	display: block;
	right: 3px;
	width: 7px;
	height: 11px;
	background-image: url("../../img/spritesheet.png");
	background-position: -52px -75px;
	z-index: 10;
}

#new-products-btn-1:checked ~ [class$="products-slider-arrows"] label:nth-child(2),
#new-products-btn-2:checked ~ [class$="products-slider-arrows"] label:nth-child(3),
#new-products-btn-3:checked ~ [class$="products-slider-arrows"] label:nth-child(1) {
	position: absolute;
	display: block;
	right: -24px;
	width: 7px;
	height: 11px;
	background-image: url("../../img/spritesheet.png");
	background-position: -52px -75px;
	transform: scaleX(-1);
	z-index: 10;
}

#new-products-btn-1:checked ~ [class$="products-slider-inner"] [class$="products-slider-slides"] {
	transform: translateX(0);
}  
#new-products-btn-2:checked ~ [class$="products-slider-inner"] [class$="products-slider-slides"] {
	transform: translateX(-870px);
} 
#new-products-btn-3:checked ~ [class$="products-slider-inner"] [class$="products-slider-slides"] {
	transform: translateX(-1740px);
} 

/* top controls */
#top-products-btn-1:checked ~ [class$="products-slider-arrows"] label:nth-child(3),
#top-products-btn-2:checked ~ [class$="products-slider-arrows"] label:nth-child(1),
#top-products-btn-3:checked ~ [class$="products-slider-arrows"] label:nth-child(2) {
	position: absolute;
	display: block;
	right: 3px;
	width: 7px;
	height: 11px;
	background-image: url("../../img/spritesheet.png");
	background-position: -52px -75px;
	z-index: 10;
}

#top-products-btn-1:checked ~ [class$="products-slider-arrows"] label:nth-child(2),
#top-products-btn-2:checked ~ [class$="products-slider-arrows"] label:nth-child(3),
#top-products-btn-3:checked ~ [class$="products-slider-arrows"] label:nth-child(1) {
	position: absolute;
	display: block;
	right: -24px;
	width: 7px;
	height: 11px;
	background-image: url("../../img/spritesheet.png");
	background-position: -52px -75px;
	transform: scaleX(-1);
	z-index: 10;
}

#top-products-btn-1:checked ~ [class$="products-slider-inner"] [class$="products-slider-slides"] {
	transform: translateX(0);
}  
#top-products-btn-2:checked ~ [class$="products-slider-inner"] [class$="products-slider-slides"] {
	transform: translateX(-870px);
} 
#top-products-btn-3:checked ~ [class$="products-slider-inner"] [class$="products-slider-slides"] {
	transform: translateX(-1740px);
} 

/* sale controls */

#sale-products-btn-1:checked ~ [class$="products-slider-arrows"] label:nth-child(3),
#sale-products-btn-2:checked ~ [class$="products-slider-arrows"] label:nth-child(1),
#sale-products-btn-3:checked ~ [class$="products-slider-arrows"] label:nth-child(2) {
	position: absolute;
	display: block;
	right: 3px;
	width: 7px;
	height: 11px;
	background-image: url("../../img/spritesheet.png");
	background-position: -52px -75px;
	z-index: 10;
}

#sale-products-btn-1:checked ~ [class$="products-slider-arrows"] label:nth-child(2),
#sale-products-btn-2:checked ~ [class$="products-slider-arrows"] label:nth-child(3),
#sale-products-btn-3:checked ~ [class$="products-slider-arrows"] label:nth-child(1) {
	position: absolute;
	display: block;
	right: -24px;
	width: 7px;
	height: 11px;
	background-image: url("../../img/spritesheet.png");
	background-position: -52px -75px;
	transform: scaleX(-1);
	z-index: 10;
}

#sale-products-btn-1:checked ~ [class$="products-slider-inner"] [class$="products-slider-slides"] {
	transform: translateX(0);
}  
#sale-products-btn-2:checked ~ [class$="products-slider-inner"] [class$="products-slider-slides"] {
	transform: translateX(-870px);
} 
#sale-products-btn-3:checked ~ [class$="products-slider-inner"] [class$="products-slider-slides"] {
	transform: translateX(-1740px);
} 

/* end sliders controls */

.new-products-slides,
.top-products-slides,
.sale-products-slides {
	width: 870px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.products-slider-inner-blocks {
	position: relative;
	width: 250px;
	height: 300px;
	padding: 10px;
	background-color: #fff;
	margin-bottom: 30px;
}

.products-slider-inner-blocks .slide-images {
	width: 250px;
	height: 230px;
	background-color: #eaeaea;
}

.products-slide-text {
	padding: 20px 0 16px 14px;
}

.products-slide-text p:nth-child(1) {
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	font-weight: 900;
	font-style: italic;
}

.products-slide-text p:nth-child(2) {
	display: inline-block;
	float: right;
	max-width: 85px;
	margin-top: 3px;
}

.products-slide-text .half-red,
.products-slide-text .red {
	display: inline-block;
	float: right;
	clear: both;
}

/* New products */

.new-products-slides {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.new-products-slides .products-slider-inner-blocks span {
	position: absolute;
	top: 8px;
	right: 5px;
	font-size: 9px;
	line-height: 11px;
	text-transform: uppercase;
	color: #fff;
	z-index: 10;
}

.new-products-slides .products-slider-inner-blocks:nth-of-type(2) span {
	color: #000;
}

.new-products-slides .products-slider-inner-blocks:nth-of-type(1)::after {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	display: block;
	border: 45px solid #e24602;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-color: transparent;
}

.new-products-slides .products-slider-inner-blocks:nth-of-type(2)::after {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	display: block;
	border: 45px solid #faef03;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-color: transparent;
}

.new-products-slides .products-slider-inner-blocks:nth-of-type(4) p:nth-child(1) {
	text-transform: uppercase;
}


/* Top products */

.top-products {
	margin-top: 43px;
}

.top-products .products-slider-inner-blocks p:nth-child(1) {
	text-transform: uppercase;
}

.top-products .products-slider-inner-blocks p:nth-child(3) {
	margin-top: -10px;
}

/* Sale products */
.sale-products {
	margin-top: 48px;
}

.sale-products .products-slider-inner-blocks:nth-child(3) p:nth-child(3) {
	margin-top: -10px;
}

/* Content main end */

@media (max-width: 1190px) {
	.content-wrap {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.content-main {
		top: 0;
	}
	.content-aside {
		top: 0;
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.content-aside-menu {
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		background-color: #26d2fc;
		text-align: center;
	}
	.content-aside-menu li {
		width: 100%;
		height: 50px;
		padding: 5px !important;
		white-space: nowrap;
	}
	.content-aside .content-aside-menu li:nth-child(1),
	.content-aside-menu li a {
		height: 50px;
		vertical-align: middle;
		line-height: 50px;
	}
	.content-aside-banner {
		display: none;
	}
	.content-aside-tags-widget,
	.articles {
		margin-top: 20px;
	}
	.content-aside-tags {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.content-aside-tags br {
		display: none;
	}
	.articles-inner a {
		margin-right: 20px;
	}
}

@media (max-width: 890px) {
	.content-aside-menu {
		display: none;
	}
	.content-aside label {
		display: block;
	}
	.content-aside-menu li:first-child {
		visibility: hidden;
	}
	.content-aside-menu li {
		width: 100%;
		height: 24px;
		padding: 10px 20px !important;
		white-space: nowrap;
	}
	.content-aside-menu li a {
		height: auto;
		vertical-align: middle;
		line-height: 24px;
	}
	.content-aside #dd-btn:checked ~ .content-aside-menu {
		position: absolute;
		display: block;
		width: 100px;
		top: -10px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		background-color: transparent;
		z-index: 19;
	}
	[class$="-products"] .title-slider {
		text-align: center;
	}
	[class$="products-slider-arrows"] {
		left: 50%;
		transform: translate(-50%);
		right: auto;
		top: -45px;
	}
	#new-products-btn-1:checked ~ [class$="products-slider-arrows"] label:nth-child(3),
	#new-products-btn-2:checked ~ [class$="products-slider-arrows"] label:nth-child(1),
	#new-products-btn-3:checked ~ [class$="products-slider-arrows"] label:nth-child(2) {
		right: 100px;
	}
	#new-products-btn-1:checked ~ [class$="products-slider-arrows"] label:nth-child(2),
	#new-products-btn-2:checked ~ [class$="products-slider-arrows"] label:nth-child(3),
	#new-products-btn-3:checked ~ [class$="products-slider-arrows"] label:nth-child(1) {
		right: -105px;
	}
	#top-products-btn-1:checked ~ [class$="products-slider-arrows"] label:nth-child(3),
	#top-products-btn-2:checked ~ [class$="products-slider-arrows"] label:nth-child(1),
	#top-products-btn-3:checked ~ [class$="products-slider-arrows"] label:nth-child(2) {
		right: 100px;
	}

	#top-products-btn-1:checked ~ [class$="products-slider-arrows"] label:nth-child(2),
	#top-products-btn-2:checked ~ [class$="products-slider-arrows"] label:nth-child(3),
	#top-products-btn-3:checked ~ [class$="products-slider-arrows"] label:nth-child(1) {
		right: -105px;
	}
	#sale-products-btn-1:checked ~ [class$="products-slider-arrows"] label:nth-child(3),
	#sale-products-btn-2:checked ~ [class$="products-slider-arrows"] label:nth-child(1),
	#sale-products-btn-3:checked ~ [class$="products-slider-arrows"] label:nth-child(2) {
		right: 100px;
	}

	#sale-products-btn-1:checked ~ [class$="products-slider-arrows"] label:nth-child(2),
	#sale-products-btn-2:checked ~ [class$="products-slider-arrows"] label:nth-child(3),
	#sale-products-btn-3:checked ~ [class$="products-slider-arrows"] label:nth-child(1) {
		right: -105px;
	}
}
