.header {
	background-color: #abeafa;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 700px;
	background-image: url("https://images.unsplash.com/photo-1516511541785-8b41b0be6044?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80");
}

.header-top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 38px;
}

.header-top .logo {
	width: 270px;
	text-align: center;
	margin-top: 23px;
}

.header-social {
	-ms-align-self: flex-start;
	align-self: flex-start;
	display: inline-block;
	margin: 46px 20px 0 0; 
}

.header-social .header-social-btn {
	color: #fff;
	margin-right: 10px;
	font-size: 15px;
}

.header-social .ig-btn {
	font-size: 18px;
}

.header-social .yt-btn {
	font-size: 17px;
}

.header-social .pr-btn {
	font-size: 17px;
}

.leanguage-block {
	width: 30px;
	font-family: 'Raleway', sans-serif;
	position: relative;
	display: inline-block;
	height: 18px;
	line-height: 10px;
	vertical-align: middle;
}

.leanguage-block::before {
	position: absolute;
	content: "";
	top: 5px;
	right: 5px;
	border: 4px solid #e9e9e9;
	border-top-width: 5px;
	border-bottom-width: 0;
	border-left-color: transparent;
	border-right-color: transparent;
}

.leanguage-block select {
	position: relative;
	width: 100%;
	-webkit-appearance: none;
	outline: none;
	border: none;
	font-weight: 600;
	font-size: 11px;
	letter-spacing: -0.5px;
	color: #fff;
	font-stretch: condensed;
	background-color: transparent;
	z-index: 1;
}

/* slider outer */

.header-aside-slider {
	position: relative;
	width: 1170px;
	font-family: 'Raleway', sans-serif;
}

.header-aside-slider input {
	display: none;
}

.header-aside-slider-slides {
	width: 300%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	transition: all 1s ease;
}

.header-aside-slider-inner {
	overflow-x: hidden;
}

.header-aside-controls {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	width: 140px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	z-index: 2;
}

.header-aside-controls label {
	width: 40px;
	height: 4px;
	background-color: #faef03;
}

#header-aside-btn-1:checked ~ .header-aside-controls label:nth-child(1),
#header-aside-btn-2:checked ~ .header-aside-controls label:nth-child(2),
#header-aside-btn-3:checked ~ .header-aside-controls label:nth-child(3) {
	background-color: #fb4d01;
}


#header-aside-btn-1:checked ~ .header-aside-slider-inner .header-aside-slider-slides {
	transform: translateX(0);
}

#header-aside-btn-2:checked ~ .header-aside-slider-inner .header-aside-slider-slides {
	transform: translateX(-1170px);
}

#header-aside-btn-3:checked ~ .header-aside-slider-inner .header-aside-slider-slides {
	transform: translateX(-2340px);
}

.header-aside-slides {
	width: 1170px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

/* slider outer style */

.header-aside {
	width: 270px;
}

.header-aside-login {
	background-color: #f8f8f8;
	text-align: center;
}

.header-aside-login a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fb4d01;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.3px;
	display: inline-block;
	padding: 6.5px 0;
}

.header-aside-login a:hover {
	text-decoration: underline;
}

.header-aside-login a:active {
	color: #000;
}

.header-aside-login a:first-child {
	margin-right: 90px;
}

.header-aside-top {
	font-size: 0;
}

.header-aside-top a:nth-child(3),
.header-aside-top a:nth-child(4) {
	width: 50%;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	text-align: center;
	background-color: #ee4a02;
	padding: 7px 0; 
}

.header-aside-top a:nth-child(3):hover,
.header-aside-top a:nth-child(4):hover {
	background-color: #e24602;
}

.header-aside-top a:nth-child(3):active,
.header-aside-top a:nth-child(4):active {
	background-color: #E9E9E9;
	color: #000;
}


.header-aside-cart {
	position: relative;
	font-weight: 500;
	background-color: #fb4d01;
	padding: 13px 0;
}

.header-aside-cart::before {
	position: absolute;
	content: "";
	left: 26px;
	width: 42px;
	height: 36px;
	background-repeat: no-repeat;
	background-image: url("../../img/spritesheet.png");
	background-position: -10px -10px;
}

.header-aside-cart a {
	display: block;
	text-decoration: none;
}

.header-aside-cart a:nth-child(1) {
	font-size: 18px;
	line-height: 22px;
	color: #fff;
}

.header-aside-cart a:nth-child(2) {
	font-size: 12px;
	line-height: 14px;
	font-weight: 300;
	color: #faef03;
}

.header-cart-price {
	display: inline-block;
	margin: auto 68px auto 80px;
}

.header-cart-edit {
	display: inline-block;
	text-align: center;
}

.header-cart-edit i {
	font-size: 18px;
	line-height: 24px;
	color: #fff51f;
}

.header-cart-edit p {
	color: #333333;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 12px;
	font-weight: 600;
	letter-spacing: 0.75px;
}

.header-aside-top form {
	font-size: 10px;
	line-height: 12px;
}

.header-aside-top .search-wrap {
	position: relative;
	display: inline-block;
	width: 236px;
	height: 34px;
	background-color: #fff;
}

.header-aside-top .search-wrap i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 9px;
	font-size: 12px;
	font-weight: 600;
}

.header-aside-top form input:nth-child(1) {
	display: block;
	font-size: 10px;
	line-height: 12px;
	outline: none;
	border: none;
	width: 100%;
	height: 100%;
	text-indent: 14px;
	font-weight: 500;
	color: #0c0c0c;
	background-color: #e9e9e9;	
}

.header-aside-top input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

.header-aside-top form input:nth-child(1)::placeholder {
	text-transform: uppercase;
	font-size: 10px;
	line-height: 12px;
	color: #0c0c0c;
}

.header-aside-top form input:nth-child(1):focus::placeholder {
	font-size: 0;
}

.header-aside-top [for="search-btn"] {
	display: inline-block;
	width: 35px;
	height: 34px;
	background-color: #333333;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 36px;
	font-size: 12px;
	margin-left: -4px;
	margin-top: -1px;
	text-indent: 1px;
}

.header-aside-top [for="search-btn"]:hover {
	background-color: #fff;
	color: #333333;
}

.header-aside-top [for="search-btn"]:active {
	background-color: #FB4D01;
	color: #333333;
}

.header-aside-middle {
	background-color: #fff51f;
	margin-top: 10px;
	padding: 78px 22px 72px;
}

.header-aside-middle p:nth-child(1) {
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #333333;
}

.header-aside-middle p:nth-child(2) {
	font-size: 18px;
	line-height: 14px;
	font-weight: bold;
	font-style: italic; 
	color: #333333;
	margin-top: 20px;
}

/* slider inner*/

.header-middle-inner-slider {
	position: relative;
	width: 420px;
}

.header-inner-slider-slides {
	width: 300%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	transition: all 1s ease;
}

.header-middle-inner-slider input {
	display: block;
}

.header-inner-slider-wrapper {
	overflow-x: hidden;
}

.header-inner-slider-slides .header-inner-slides {
	width: 420px;
}

.header-inner-slider-controls {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
}

/* first slide controls */

/* left arrow */
#one-inner-btn-1:checked ~ .header-inner-slider-controls label:nth-child(3),
#one-inner-btn-2:checked ~ .header-inner-slider-controls label:nth-child(1),
#one-inner-btn-3:checked ~ .header-inner-slider-controls label:nth-child(2) {
	position: absolute;
	left: 0;
	display: block;
	width: 30px;
	height: 50px;
	background-color: #fbde06;
}

/* right arrow */
#one-inner-btn-1:checked ~ .header-inner-slider-controls label:nth-child(2),
#one-inner-btn-2:checked ~ .header-inner-slider-controls label:nth-child(3),
#one-inner-btn-3:checked ~ .header-inner-slider-controls label:nth-child(1) {
	position: absolute;
	right: 0;
	display: block;
	width: 30px;
	height: 50px;
	background-color: #fbde06;
}

#one-inner-btn-1:checked ~ .header-inner-slider-wrapper .header-inner-slider-slides {
	transform: translateX(0);
}
#one-inner-btn-2:checked ~ .header-inner-slider-wrapper .header-inner-slider-slides {
	transform: translateX(-420px);
}
#one-inner-btn-3:checked ~ .header-inner-slider-wrapper .header-inner-slider-slides {
	transform: translateX(-840px);
} 


/* second slide controls */
/* left arrow */
#two-inner-btn-1:checked ~ .header-inner-slider-controls label:nth-child(3),
#two-inner-btn-2:checked ~ .header-inner-slider-controls label:nth-child(1),
#two-inner-btn-3:checked ~ .header-inner-slider-controls label:nth-child(2) {
	position: absolute;
	left: 0;
	display: block;
	width: 30px;
	height: 50px;
	background-color: #fbde06;
}

/* right arrow */
#two-inner-btn-1:checked ~ .header-inner-slider-controls label:nth-child(2),
#two-inner-btn-2:checked ~ .header-inner-slider-controls label:nth-child(3),
#two-inner-btn-3:checked ~ .header-inner-slider-controls label:nth-child(1) {
	position: absolute;
	right: 0;
	display: block;
	width: 30px;
	height: 50px;
	background-color: #fbde06;
}

#two-inner-btn-1:checked ~ .header-inner-slider-wrapper .header-inner-slider-slides {
	transform: translateX(0);
}
#two-inner-btn-2:checked ~ .header-inner-slider-wrapper .header-inner-slider-slides {
	transform: translateX(-420px);
}
#two-inner-btn-3:checked ~ .header-inner-slider-wrapper .header-inner-slider-slides {
	transform: translateX(-840px);
} 


/* third slide controls */
/* left arrow */
#three-inner-btn-1:checked ~ .header-inner-slider-controls label:nth-child(3),
#three-inner-btn-2:checked ~ .header-inner-slider-controls label:nth-child(1),
#three-inner-btn-3:checked ~ .header-inner-slider-controls label:nth-child(2) {
	position: absolute;
	left: 0;
	display: block;
	width: 30px;
	height: 50px;
	background-color: #fbde06;
}

/* right arrow */
#three-inner-btn-1:checked ~ .header-inner-slider-controls label:nth-child(2),
#three-inner-btn-2:checked ~ .header-inner-slider-controls label:nth-child(3),
#three-inner-btn-3:checked ~ .header-inner-slider-controls label:nth-child(1) {
	position: absolute;
	right: 0;
	display: block;
	width: 30px;
	height: 50px;
	background-color: #fbde06;
}

#three-inner-btn-1:checked ~ .header-inner-slider-wrapper .header-inner-slider-slides {
	transform: translateX(0);
}
#three-inner-btn-2:checked ~ .header-inner-slider-wrapper .header-inner-slider-slides {
	transform: translateX(-420px);
}
#three-inner-btn-3:checked ~ .header-inner-slider-wrapper .header-inner-slider-slides {
	transform: translateX(-840px);
} 

/* slider inner style*/ 

.header-inner-slides p {
	width: 312px;
	color: #fff51f;
}

.header-inner-slides p:nth-child(1) {
	font-size: 48px;
	line-height: 34px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 67px;
	margin-bottom: 7px;
}

.header-inner-slides p:nth-child(2) {
	font-size: 18px;
	line-height: 24px;
}

.header-inner-slides a {
	display: inline-block;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	background-color: #fff51f;
	padding: 17px 28px 15px;
	margin-top: 59px;
}

.header-inner-slides a:hover {
	background-color: #FB4D01;
}

.header-inner-slides a:active {
	transform: scale(0.98);
}